    <div ng-if="!edit">
        <form action="#" method="GET" data-default="150">
            <div class="input-group">
                <input type="text" name="Buscar" class="form-control input-search" ng-model="search_user" placeholder="{{AplicationText.search}}">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="search()" type="button"><i class="fa fa-search">{{AplicationText.search}}</i></button>
                </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{pageUserText.nombre}}</th>
                        <th>{{pageUserText.apellido}}</th>
                        <th>{{pageUserText.email}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in users | filter:search_user">
                    <tr>
                        <th scope="row" >{{user.id}}</th>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a ng-click="showforedit($index)" class="btn btn-primary" >{{AplicationText.edit}}</a>
                            <a ng-click="delete($index)" class="btn btn-danger" >{{AplicationText.delete}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
    <div ng-if="edit">
        <form>
            <div class="form-group">
                <label for="first_name">{{pageUserText.first_name}}</label>
                <input  class="form-control" id="first_name"   ng-model="user.first_name">
            </div>
            <div class="form-group">
                <label for="last_name">{{pageUserText.last_name}}</label>
                <input  class="form-control" id="last_name"  ng-model="user.last_name">
            </div>
            <div class="form-group">
                <img ng-src="{{user.avatar}}" />
            </div>
               
            <button type="submit" ng-click="update()" class="btn btn-primary">{{AppControlText.submit}}</button>
            <button type="submit" ng-click="cancel()" class="btn btn-default">{{AppControlText.cancel}}</button>
        </form>
    </div>
  
 
    

                        
                      


  
  



