    <form name="frmUser" novalidate>

        <div class="form-group">
            <label for="first_name">{{pageUserText.first_name}}</label>
            <input  class="form-control" name="first_name"   id="first_name"  required  ng-model="user.first_name">
            <div ng-show="frmUser.$submitted || frmUser.first_name.$touched">
              <span ng-show="frmUser.first_name.$error.required">{{pageUserText.first_name_required}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="last_name">{{pageUserText.last_name}}</label>
            <input name="last_name" class="form-control" id="last_name" required   ng-model="user.last_name">
            <div ng-show="frmUser.$submitted || frmUser.last_name.$touched">
              <span ng-show="frmUser.last_name.$error.required">{{pageUserText.last_name_required}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="email">{{pageUserText.email}}</label>
            <input class="form-control" type="email" ng-model="user.email" name="email" required/>
            <div ng-show="frmUser.$submitted || frmUser.email.$touched">
              <span ng-show="frmUser.email.$error.required">Tell us your email.</span>
              <span ng-show="frmUser.email.$error.email">This is not a valid email.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="avatar">{{pageUserText.avatar}}</label>
            <input  class="form-control" id="avatar"   ng-model="user.avatar">
        </div>
        <button type="submit" ng-click="submit()" class="btn btn-primary">{{AppControlText.submit}}</button>    
    </form>


   <label>E-mail:
      
    </label>
    <br />
    