    <form>
        <div class="form-group">
            <label for="first_name">{{pageUserText.first_name}}</label>
            <input  class="form-control" id="first_name"   ng-model="user.first_name">
        </div>
        <div class="form-group">
            <label for="last_name">{{pageUserText.last_name}}</label>
            <input  class="form-control" id="last_name"   ng-model="user.last_name">
        </div>
        <div class="form-group">
            <label for="avatar">{{pageUserText.avatar}}</label>
            <input  class="form-control" id="avatar"   ng-model="user.avatar">
        </div>
        <button type="submit" ng-click="submit()" class="btn btn-primary">{{AppControlText.submit}}</button>    
    </form>
